@using BookStore.Core.Enums
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Book" asp-action="Index">All Books</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Review" asp-action="Index">Book Reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="BooksForApproval">Books for approval</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="ReviewsForApproval">Reviews for approval</a>
    </li>
</ul>

