@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://w3webhosting.net/w3press/wp-content/uploads/2017/06/500-Internal-Web-Server-Error.png" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Internal Server Error</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>