@model BookFormModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Add a Book";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_BookFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}