@using BookStore.Core.Enums
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">All Books</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Add">Add Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="MyBooks">My Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Cart">Cart</a>
        </li>
    }
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Index">Book Reviews</a>
    </li>@if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Mine">My Reviews</a>
        </li>
    }
</ul>

